@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(26, 25, 41);
    background: linear-gradient(
        180deg,
        rgba(26, 25, 41, 1) 0%,
        rgba(28, 27, 45, 1) 15%,
        rgba(8, 7, 14, 1) 100%
    );
    font-family: 'Montserrat', sans-serif;
}

.header-line {
    display: flex;
    flex-direction: row;
}

.header-line :before,
.header-line:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.header-line:before {
    margin-right: 10px;
}
.header-line:after {
    margin-left: 10px;
}
