@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(26, 25, 41);
    background: linear-gradient(
        180deg,
        rgba(26, 25, 41, 1) 0%,
        rgba(28, 27, 45, 1) 15%,
        rgba(8, 7, 14, 1) 100%
    );
    font-family: "Montserrat", sans-serif;
}

.offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
