@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(26, 25, 41);
    background: linear-gradient(
        180deg,
        rgba(26, 25, 41, 1) 0%,
        rgba(28, 27, 45, 1) 15%,
        rgba(8, 7, 14, 1) 100%
    );
    font-family: 'Montserrat', sans-serif;
}

.offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
